
%flex-center {
    display: flex;
    align-items: center;
}

%container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    max-width: 1280px;
    box-sizing: border-box;
}

%row-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}

%section-border{
    border: 2px solid var(--fc-princeton-orange);
}