
/// Regular font family
/// @type List
$font-inter: 'Inter', sans-serif !important;
$font-league: 'League Gothic', sans-serif !important;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
$text-color: #646165;


// Define your breakpoints as Sass variables
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
