.fc-cart-items .fc-edit-item {
    border: 1px solid #f67925;
    background: #f67925;
    color: #ffffff;
}
.fc-cart-items .fc-edit-item:hover {
    border: 1px solid #525252!important;
    background: #525252 !important;
}

.btn-fc-outline-danger {
	background: #fff;
}

.fencing-section--step1 .btn-delete-fence {
	padding: 0;
}
.fc-label-group .fc-form-control {
	width: 100%;
	background: #fff;
}

#fc-fence-list {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}