.fc-step-2-alert {
    float: right;

	@include lg {
		margin-top: 40px;
	}

    &.fc-alert-gray {
        padding: 20px;
    }

    .fc-icon{
        position: relative;
        top: 1px;
    }

	h3 {
        font-size: 20px;
        font-weight: 500;

		@include lg {
			font-size: 16px;
			font-family: $font-inter;
		}
	}

	p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
		@include lg {
			font-size: 12px;
		}
	}

    &.fc-step-2-alert{
        @include lg{
            float: none;
        }
    }

}

.fc-alert-gray{
    background-color: var(--fc-cultured);
    border-radius: 8px;
    padding: 16px;

    h4{
        font-weight: 500;
    }

    &--large-h4 h4{
        font-size: 18px;
    }

    p{
        font-size: 16px;
        line-height: 22px;
        color: var(--fc-granite-gray);
    }
}

.fc-alert-gray--low-stock{
    background-color: #FCDADA;
    width: 100%;
    box-sizing: border-box;
    @include lg{
        margin-top: 0;
    }
    h3{
        color: var(--fc-brand-primary);
        font-weight: 700;
    }
    i{
        margin-right: 4px;
    }
    p{
        color: var(--fc-brand-primary);
        margin-bottom: 0;
    }
}