.fencing-section{

    padding: 32px;
    border-radius: 16px;
    margin-bottom: 16px; 
    position: relative;
    overflow: hidden;

    @include lg {
		margin-left: 0;
		margin-right: 0;
        padding-left: 16px;
        padding-right: 16px;
	}

    &--no-padding{
        padding: 0;
        @include lg {
            padding: 0;
        }
    }

    &__top{
        padding: 32px;
        @include lg {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__bottom{
        border-top: 2px solid var(--fc-bright-gray);
        padding: 32px;
        @include lg {
            padding-left: 16px;
            padding-right: 16px;
        }

        .fencing-tab-add{
            width: 100%;
            font-size: 14px;
            line-height: 20px;

            @include min-lg {
                width: auto;
            }

            &:hover{
                @media ( min-width: 1024px ){
                    background: #525252;
                    border-color: #525252;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }

    h4{
        margin-bottom: 0;
    }

    //Direct child components inside section
    &__cmp{
        margin-bottom: 24px;
        position: relative;

        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__step-label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        @include lg{
            margin-bottom: 16px;
        }
    }

    &--no-radius-top{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &--has-border{
        @extend %section-border;
    }

	&.fencing-styles{
		margin-top: 24px;
	}

	&--step1{
		.btn-delete-fence{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			@include lg {
				right: 0;
                width: auto !important;
                height: 40px;
			}

            span span{
                @include lg {
                    display: none;
                }
            }
		}
	}

	&--step3{
		@include lg {
			margin-bottom: 0;
		}
	}

	&--step2 h4.fencing-content-title{
		@include lg {
			margin-bottom: 24px !important;
		}
	}

	&--step3 h4.fencing-content-title{
		@include lg {
			margin-bottom: 10px !important;
		}
	}

	&__controls {
		display: flex;
		a {
			border: 1px solid #DDDDDD;
			border-radius: 8px;
			padding: 12px 16px;
			margin-right: 8px;
			display: block;
		}
	}

    .fencing-tab-add{
        border-radius: 8px;
    }

    .btn-delete-fence{
        @include lg{
            width: 100%;
        }
    }

}

.fc-project-plan .fencing-section{
    @include lg{
        padding: 16px;
    }
}

.fencing-section__controls {
    display: flex;
}
.fencing-section__controls a {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 12px 16px;
    margin-right: 8px;
    display: block;

    @include lg {
        font-size: 0;
    }

}
.fc-zoom-progress{
    background-color: var(--fc-bright-gray);
    width: 74px;
    height: 46px;
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}