// -----------------------------------------------------------------------------
// This file contains css for the Fencing Style Section.
// -----------------------------------------------------------------------------

.fencing-styles {

    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;

    &__area{
        display: inline-flex;
    }

    @include xl {
        display: inline-block;
    }

}

.fencing-style-item {
    margin-right: 29px;
    width: 184px;
    cursor: pointer;
    float: left;
    background: #fff;
    position: relative;
    transition: all .2s ease;


    @include md {
        width: 152px;
        margin-right: 16px;
    }

    // @include xl {
    //     width: calc(20% - 32px);
    // }

    // @include lg {
    //     width: calc(25% - 32px);
    // }

    // @include md {
    //     width: calc(33.33% - 32px);
    // }

    // @include sm {
    //     width: calc(50% - 32px);
    // }

    .fencing-style-title {
        text-align: center;
        font-size: 14px;
        border: 2px solid #f0f0f0;
        border-top: 0;
        background: #FAFAFA;
        font-weight: 400;
        border-radius: 0 0 8px 8px;
        padding: 10px;
        
        @include md {
            font-size: 12px;
        }

    }

    .fencing-style-item img {
        width: 100%;
        margin-bottom: 10px;
    }

    .fencing-style-img {	
        opacity: 0.5;
        transition: transform .3s;
        border: 2px solid #e1e1e1;
        border-radius: 8px 8px 0 0;
        padding: 10px;
    }

    .fencing-style-btn{
        width: 26px;
        height: 26px;
        background: #fff url(img/icons/close@2x.png) no-repeat center;
        background-size: 100%;
        position: absolute;
        top: 11px;
        right: 11px;
        outline: none;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: none;
    }

    &.fsi-selected {

        .fencing-style-btn{
            display: block;
        }

        .fencing-style-img {
            border-color: #F67925;
            opacity: 1;
        }

        .fencing-style-title {
            color: #fff;
            background: var(--fc-blue);
            font-weight: 400;
            border-radius: 0 0 10px 10px;
            padding: 10px;
            border-color: var(--fc-blue);
        }

    }

}