.fencing-modal--v2{
    .fencing-modal-content{
        border-radius: 40px;
        padding: 40px;
        box-sizing: border-box;

        @include lg{
            padding: 26px 16px;
            border-radius: 16px;
        }

        @include sm {
            height: 100%;
        }
    }
    .fencing-modal-title{
        padding: 0;
    }
    .fencing-modal-area{
        margin-bottom: 49px;

        @include lg{
            margin-bottom: 19px;
        }

        &:last-child{
            margin-bottom: 0;
        }

        &--panel-options .fencing-modal-notes:not(.fc-alert-gray){
            background-color: #fff;
            padding: 0;
        }

        &--gate{
            .fc-col-flex{
                width: 96px;
                height: 96px;
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .fc-move-post{
                border-width: 1px;
                height: inherit;
                box-sizing: border-box;

                p{
                    position: relative;
                    top: 5px;
                    font-weight: 500;
                }
            }
        }
    }
    .fencing-modal-head{
        position: relative;
        z-index: 3;
    }
    .fencing-modal-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 16px;
        border-bottom: 1px solid var(--fc-bright-gray);
        margin-bottom: 24px;
        position: relative;

        @include lg {
            padding-bottom: 10px;
        }
    }
    .fencing-modal-body{
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 2;

        @include sm {
            height: 100%;
            max-height: 96%;
        }

        @include md {
            padding-right: 10px;
            padding-bottom: 0px;
        }
    }

    .body-title:empty{
        display: none;
    }

    .fc-select{
        border-width: 1px;
        border-radius: 8px;
        transition: border .2s ease;
        padding: 0;
        overflow: hidden;

        &:after{
            width: 24px;
            height: 24px;
            box-sizing: border-box;
            top: 8px;
            right: 12px;
        }
    }

    [name="panel_option"] .fc-select:after{
        top: 50%;
        transform: translateY(-50%);
        right: auto;
        left: 8px;
    }

    [type="range_option"],
    [type="image_option"]{

        @include lg {
            display: flex;
            flex-wrap: wrap;
        }
        [class*="fc-col"]{
            width: 172px;
            margin-right: pxTopercent(22, 560);

            &:last-child{
                margin-right: 0;
            }

            &:nth-child(2n){
                @include lg {
                    margin-right: 0;
                }
            }

            @include lg {
                width: 46%;
                margin-bottom: 4px;
            }
        }
    }

    .fencing-modal-notes{
        padding: 0;

        p{
            font-size: 14px;
            line-height: 20px;
            color: var(--fc-granite-gray);
        }
        
    }

    .fc-row-container{
        margin: 0;
    }

    .fc-alert-gray{
        padding: 16px;
    }

    .fc-selection-details{
        margin: 0 0 24px;
        &:last-child{
            margin-bottom: 0;
        }

        .fc-icon{
            width: 16px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .fc-dropdown_option {
        max-width: 387px;

        @include lg{
            max-width: 100%;
            width: 100%;
        }

        select{
            border-radius: 8px;
            border-width: 1x;
            border-color: var(--fc-gainsboro);
            height: 59px;
        }
    }

    [type="text_option"]{
        display: flex;
        flex-wrap: wrap;

        .fc-select{
            height: 40px;
            border-radius: 8px;
            border-width: 1px;
            padding: 8px;
            box-sizing: border-box;
            padding-left: 40px;
            display: flex;
            align-items: center;
        }
        .fc-col-4{
            width: 50%;
            max-width: 272px;
            margin-bottom: 8px;
            margin-right: 16px;

            @include lg{
                width: calc(50% - 8px);
            }

            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }

    
}

.fencing-modal-close{
   top: -10px;
    right: 0;
    background-color: #fff;
    border-color: var(--fc-granite-gray);

    @include lg{
        top: 0;
    }

    &:hover{
        background-color: #fff;
    }

    &:after{
        content: "×";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--fc-granite-gray);
    }
}

#submit-modal.fencing-modal--v2 {

    .fencing-modal-content{
        @include sm{
            padding-top: 36px;
        }
    }

    .fencing-modal-body{
        @include md{
            position: static;
        }
    }

    .fc-col-half{
        padding-left: 0;
        padding-right: 0;
    }
    .fc-col-half:first-child{
        margin-right: 16px;
        @include lg{
            margin-right: 0;
        }
    }
    .fc-form-plan .fc-col-half{
        width: calc(50% - 8px);

        @include lg{
            width: 100%;
        }
    }
    .fc-form-check label{
        margin-left: 3px;
    }

    .fc-form-plan-action {
        @include lg{
            justify-content: space-between;
        }

        button{
            @include mmd {
                margin-left: 0;
            }
        }
        .fc-btn-next{
            @include lg{
                margin-bottom: 0;
            }
        }
    }

    .fc-color-options{
        padding: 0;
        margin-bottom: 20px;
        display: block;

        @media ( min-width: 540px ){
            display: flex;
        }

        p strong {
            font-size: 16px;
            @include md {
                font-size: 14px;
            }
        }

        .fc-col{
            @include min-lg{ 
                width: 26.6111111111%;
                margin-right: 2.2222222222%;
            }
        }

        .fc-col-3 {
            // @media (min-width: 600px) and ( max-width: 992px ){
            //     width: 26.6111111111%;
            //     margin-right: 2.2222222222%;
            // }
        }

        .fc-select{
            height: 65px;
            @include min-lg{
                height: 81px;
            }

            &:after{
                width: 20px;
                height: 20px;
                top: 18px;
                @media (min-width: 600px) and ( max-width: 992px ){
                    top: 14px;
                }
            }
        }
    }

    .form-tab-4{
        .fc-col-3{
            padding: 0;
            margin-right: pxTopercent(20, 760);
            margin-bottom: pxTopercent(20, 760);
            width: pxTopercent(174, 760);

            @media ( max-width: 767px ){
                width: 48.4%;
            }

            &:nth-of-type(2n){
                @media ( max-width: 767px ){
                    margin-right: 0 !important;
                }
            }

            &:nth-of-type(4n){
                margin-right: 0;
                @media ( max-width: 767px ){
                    margin-right: pxTopercent(24, 760);
                }
            }

        }
    }

    .fencing-modal-md{
        max-width: 840px;
    }

    .fc-form-plan h2{
        font-size: 28px;

        @include lg{
            text-align: left;
        }
    }

    .fc-form-check.fc-mb-3{
        margin-bottom: 5px !important;
    }

    

    .fc-form-check-img {

        p{
            font-size: 14px;

            @include sm {
                font-size: 13px;
            }
        }

        .fc-form-check{
            @include sm {
                display: block;
                height: 100px;
                position: relative;
                overflow: hidden;
            }
        }
        
        .fc-rounded{
            @include sm {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .fc-empty-img{
            @include sm {
                height: 100%;
            }
        }

    }

    .fc-modal-frame{
        @include lg{
            padding-bottom: 30px;
        }
    }

    &.fencing-modal--project-plans {
        .fc-form-plan-action {
            @include md {            
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
            }
            button{
                @include md {
                    border-radius: 0 0 8px 8px;
                }
            }
        }
        .fencing-modal-body{
            @include md {      
                padding-bottom: 0;
            }
        }

        .fc-modal-frame{
            @include sm {
                height: auto;
                padding-bottom: 30px;
                box-sizing: border-box;
            }
        }

        .fencing-modal-close{
            @include sm {
                top: -26px;
                right: 4px;
            }
        }
    }
}