/* TABS */
.fencing-tabs{
    height: inherit;

    &-container {
        width: 100%;
        display: inline-block;
        height: 66px;
    }

}
.w-side-section .fc-section-details {
	width: 100%;
}
.fc-sticky {
	top: 0;
	margin-top: 0;
	position: fixed;	
    z-index: 10;
}
.fc-sticky .fencing-tabs {
	overflow: auto;
	max-height: 100vh;	
}

.fencing-tab {
    background: #fff;
    border: 2px solid var(--fc-gray);
    border-right: 0!important;
    border-bottom: 0!important;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 134px;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    transition: all .2s ease;

    &:not(.fencing-tab-selected):hover{
        @include min-md {
            background: var(--fc-blue);
            color: var(--fc-white);
            border-color: var(--fc-blue);
        }
    }

    &-container{
        height: inherit;
    }

    &-name {
        color: #a9a9a9;
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        position: relative;
        top: 2px;
    }

}
.fencing-tab-selected {
	background: #F67925;	
    border: 3px solid #F67925 !important;
    border-bottom: 0!important;
}
.fencing-tab-selected .fencing-tab-name {
	color: #fff;	
}

.fencing-tab-selected .fencing-tab-number {
	color: #fff;
}

.fencing-tab:not(.fencing-tab-selected):hover * {
    @include min-md {
	    color: var(--fc-gray) !important;
    }
}


.fencing-tab-desc {
	font-size: 12px;
}
.fencing-tab-add {
	color: var(--fc-dark-charcoal);
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--fc-bright-gray);
    justify-content: center;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 700;
	min-width: 170px;
    height: inherit;
    box-sizing: border-box;
    transition: all .2s ease;

    @include lg {
        width: 100%;
        padding: 17px 15px;
    }

    &.btn-fc{
        background-color: #fff;
    }

    &:hover {
        @include min-md {
            background: #f5853a;
            color: var(--fc-white);
            border-color: #f5853a;
        }
    }
}

.grabbing {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: grabbing !important;
}
.grabbing .fencing-btn-modal {
	cursor: grabbing;
}

/* width */
.fencing-display-result::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.fencing-display-result::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.fencing-display-result::-webkit-scrollbar-thumb {
  background: #333333;
}

/* Handle on hover */
.fencing-display-result::-webkit-scrollbar-thumb:hover {
  background: #555;
}	
.fc-section-details .fencing-display-result.grabbing:before {
	content: "";
	background: #f6792508;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}

/* STYLES */
.fencing-display-result {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 220px;
    overflow: auto; 
    cursor: grab;
    
    @include lg {
        margin-top: 0;
    }

}

.w-side-section {

}

.fc-content-tab-title {
	background: #F67925;
	color: #fff;
	padding: 15px 24px;
	font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 55px;
    box-sizing: border-box;

    & + .fencing-section{
        margin-bottom: 0;
    }

    @include lg {
        display: block;
        height: 72px;
        padding: 13px 24px;
        box-sizing: border-box;
    }
}

.fc-tab-title{
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;

    @include lg {
        display: block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
    }

    &:not(:empty):after{
        @include min-md {
            content: "";
            background-color: #fff;
            display: inline-block;
            margin: 0 8px;
            height: 20px;
            width: 1px;
        }
    }
}

.fc-tab-subtitle{
    font-weight: 400;
    @include lg {
        display: block;
        font-size: 14px;
        line-height: 20px;
    }
}

.fencing-raked-panel {
    height: 180px !important;
    border-top: 0!important;
}
.raked-panel-container {
	position: relative;
    top: -46px;
}

/* Left panel - A */
.fencing-left-panel-a {
	-webkit-clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
	clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
}
.fencing-left-panel-o-a {	
	-webkit-clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
	clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
    background: #bebebe;
    padding-top: 1px;
}
.fencing-left-panel-o-a:hover {
    background: var(--fc-blue);	
}

/* Right panel - A */
.fencing-right-panel-a {	
	-webkit-clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
	clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
}
.fencing-right-panel-o-a {	
	-webkit-clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
	clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
    background: #bebebe;
    padding-top: 1px;
}
.fencing-right-panel-o-a:hover {
    background: var(--fc-blue);	
}

/* Left panel - B */
.fencing-left-panel-b {
	-webkit-clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
	clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
}
.fencing-left-panel-o-b {	
	-webkit-clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
	clip-path: polygon(37% 0, 70% 25%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
    background: #000;
    padding-top: 1px;
}
.fencing-left-panel-o-b:hover {
    background: var(--fc-blue);	
}

/* Right panel - B */
.fencing-right-panel-b {	
	-webkit-clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
	clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
}
.fencing-right-panel-o-b {	
	-webkit-clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
	clip-path: polygon(37% 25%, 70% 0, 100% 0, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 25%);
    background: #000;
    padding-top: 1px;
}
.fencing-right-panel-o-b:hover {
    background: var(--fc-blue);	
}

.raked-panel-post {
	margin-top: -50px !important;
}
.raked-panel {
	display: flex;
}
.panel-no-post {
	border: 2px dashed #f70000 !important;
    background: #fff !important;
    min-width: 0 !important;
}
.fencing-panel-spacing-number.no-post {
	color: #f70000;
	font-weight: 400;
}


/* Display Result */
.fencing-calculating {
    display: none;
    text-align: center;
    position: absolute;
    background: #000000d1;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.fc-calculating-loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);	
  color: #fff;
}


/* Max Panel */
.fencing-max-panel {
	text-align: center;
}

/* Panel Controls */
.fencing-panel-controls {
    @include lg {
        margin-bottom: 16px;
    }
    .btn-fc {
        margin: 0 10px 0 0;
        /** @TODO revisit, see if buttons can be scrollable to remove !important **/
        &.fc-mb-1{
            margin-bottom: 0 !important;

            @include lg {
                margin-bottom: 16px !important;

                &:last-child{
                    margin-bottom: 0 !important;
                }
            }
        }

        @include lg {
            display: inline-block;
            width: auto;
            margin-right: 12px;
            padding: 12px 24px;
        }

    }
    div{
        display: none;
    }
}