// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    background: #fbfbfb;
}


/**
* Basic styles for links
*/
a {
    color: var(--primary);
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    font-family: $font-inter;
}

