/* Icons */
.fc-icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	vertical-align: top;
} 
.fc-icon-xs {
	width: 15px;
	height: 15px;	
}
.fc-icon-copy-simple {
	background: url('img/icons/copy-simple.png');	
}
.fc-icon-file-pdf {
	background: url('img/icons/file-pdf.png');	
}

.fc-icon-pencil {
	background: url('img/icons/pencil.png');	
}
.fc-icon-chat-dots {
	background: url('img/icons/chat-dots.png');	
}
.fc-icon-phone {
	background: url('img/icons/phone.png');	
}
.fc-icon-pen-white {
	background: url('img/icons/pen-white.png');	
}
.fc-icon-cart {
	background: url('img/icons/cart.png');	
}
.fc-icon-arrow-cc {
	background: url('img/icons/arrows-counter-clockwise.jpg');	
}
.fc-icon-capa {
	background: url('img/icons/information.png');
	background-size: 16px;	
}
.fc-icon-info {
	background-image: url('img/icons/info-red.png');
	background-size: 20px auto !important;
}
.fc-magnify-munis {
	background: url('img/icons/magnifying-glass-minus.jpg');	
}
.fc-magnify-plus {
	background: url('img/icons/magnifying-glass-plus.jpg');	
}
.fc-rectangle {
	background: url('img/icons/rectangle.jpg');	
}
.btn-fc i {
	margin-right: 5px;
}