/**
 * Basic typography style for copy text
 */

.fencing-container{
    color: $text-black;
    font-family: $font-inter;

    .fc-font-1 {
        font-family: $font-inter;
    }
    .fc-font-2 {
        font-family: $font-league;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    input,
    select,
    label {
        margin: 0;
        font-family: $font-inter;
    }

}


