.fc-cart-items .fc-edit-item {
    border: 1px solid var(--fc-princeton-orange);
    background: var(--fc-princeton-orange);
    color: #ffffff;
}

.btn-fc-outline-danger {
    background: #fff;
}

.fencing-section--step1 .btn-delete-fence {
    padding: 0;
}

.fc-label-group .fc-form-control {
    width: 100%;
    background: #fff;
}

.fc-card-body {
    position: relative;
}

.fc-card-body .fc-loader-container {
    height: 100%;
}

.fc-section-loader-overlay {
    position: absolute;
    background: #000000e0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.project-details--editable:hover {
    cursor: pointer;
    background: #f6f6f6;
}

.fc-result {
    position: relative;
}

.cp_no-post--left:before,
.cp_no-post--left .fc-div-c-p,
.cp_no-post--left .fc-start-c-p,
.cp_no-post--right:after,
.cp_no-post--right .fc-div-c-p:nth-child(2),
.cp_no-post--right .fc-end-c-p {
    color: #f70000;
    z-index: 1;
}


.fencing-panel-spacing-number.opt-2 span {
    bottom: -5px;
}

[data-group="b"] .panel-post:not(.panel-no-post).opt-2 {
    margin-bottom: 15px;
}

.qty-edited {
    position: absolute;
    left: -10px;
    top: 5px;
    font-size: 12px;
    background: #fff;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid #dddddd;
    color: #8e8e8e;
}

.fc-form-group {
    position: relative;
}

.btn-orange {
    border-bottom: 4px solid #cb6520 !important;
}

.btn-secondary,
.btn-outline-secondary {
    border-bottom: 4px solid #4b5156 !important;
}

.btn-danger,
.btn-outline-danger {
    border-bottom: 4px solid #90232e !important;
}

.btn-fc-outline-default {
    border-bottom: 4px solid #414141 !important;
}

.btn-dark {
    border-bottom: 4px solid #000000 !important;
}

@media print {
    .btn-fc {
        display: none !important;
    }
}