.fc-form-group {
	display: inline-block;
	width: 100%;
}
.fc-label-group {
	border: 1px solid var(--fc-gainsboro);
	border-radius: 8px;
	position: relative;
}
.fc-label-badge {
    color: #666666;
    background: #EEEEEE;
    border-radius: 24px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;	
}
.fc-label-group .fc-form-control {
	border: 0;
    padding: 20px 15px 15px;
    font-size: 14px;
    height: 59px;
    box-sizing: border-box;
}
.fc-label-group .fc-form-label {
	top: -11px;
    padding: 0 5px;
    background: #fff;
    display: inline-block !important;
    margin-left: 10px;
    position: absolute;
}
.fc-form-control:focus-visible {
	outline: none
}

.fc-rounded {
	border-radius: 8px;
}

.fc-input-msg {
    margin: 5px 0;
    background: #e91e1e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    display: none;
}
.fc-input-msg.fcim-show {
	display: block;
}
.fc-input-msg:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #e91e1e transparent;
    border-width: 0 7px 7px;
    top: -7px;
    left: 30%;
    margin-left: -20px;
}

.fc-tab-control{
    .btn-fc{
        @include lg {
            height: 52px;
        }
    }
}
.fc-tab-control .fc-section-step {
    display: flex;

    .btn-fc{
	    margin-right: 16px;
        text-align: center;
        margin-bottom: 0;
        @include xs {
            margin-right: 0;
        }
        @include md {
            margin-bottom: 16px;
        }
        &:last-child{
            margin-right: 0;
            @include md {
                margin-bottom: 0;
            }
        }
    }
    
    .btn-fc-orange,
    .btn-delete-fence,
    .fencing-tab-add{
        @include lg{
            padding-left: 5px;
            padding-right: 5px;
        }

        @media ( min-width: 768px ) and ( max-width: 860px ){
            font-size: 11px !important;
        }

        @include mmd {
            font-size: 14px !important;
        }
    }

    @include mmd {
        display: block;
        height: auto;
    }

}

.fc-input-container {
	position: relative;
}

[type="button"]:disabled {
	background: #ebebeb !important;
    color: #9E9E9E;
    border-color: #cbcbcb;
    cursor: not-allowed !important;

    &:hover{
        @media ( min-width: 1024px ){
            color: #9E9E9E;
        }
    }
}

.fc-form-plan{
    .fc-col-half{
        width: calc( 50% - 0px);
    }

    
}
